

<a href="/players">Players</a> </br>
<a href="/games">Games</a> </br>

<h1> Start a game! Create a new game! </h1>
<a href="/games/new"> Game create </h1></a></br>

<h1>Be a player! Create a new account!</h1>
<a href="/players/new"> Player create </h1> </a> </br>


<h1> Already a player? Login </h1>