
<table class="table">
  <tr>
    <th> Match up </th>
    <td><%= display_player_name game.challenger %> vs.<%= display_player_name game.player %> </td>

    <th>Location </th>
    <td> <%= game.location%><th> Start Time </th>
    <td> <%= game.start_time %> </td>
  </tr>
</table>