<h1> Let us play </h1>

<div class="players container">

  <% @players.each do |player| %>
   <%= render partial: 'player', locals: {player: player} %>
   <% end %>
</div>

<%= link_to "Games", root_path %>